@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

$principal-font: 'Lato', sans-serif;


body {
    background-image: url(./Images/old-wall-1920x1080.png);

    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        .poke-logo {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            width: 500px;
            padding-bottom: 50px;

        }
    }

    .search-box-container {
        text-align: center;
        

        #input-search {
            padding: 20px 10px;
            font-size: 24px;
            font-weight: bold;
            border: none;
            background: transparent;
            outline: none;
            border-bottom: 3px solid rgb(255, 254, 254);
            padding-bottom: 5px;
            margin-bottom: 10px;
            color: white;
        }
            ::placeholder {
                color: white;
            
        }
    }

   

    .poke-buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: black;
        
        font-family: $principal-font;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
         span {
            border: 1px solid white;
            padding: 8px 8px 8px 8px;
            border-radius: 20%;
            margin-top: 40px;
            margin-bottom: 40px;
            background-color: #FFD700;
         }

    }
    .poke-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .poke-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-family: $principal-font;
        padding: 3px 30px 3px 30px;
        margin: 10px 10px 10px 10px;
        border: 5px solid rgb(185, 175, 175);
        border-radius: 10%;

        &:hover {
           
            animation: shake 1s;
            animation-iteration-count: infinite;
        }

        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg) scale(0.8); }
            10% { transform: translate(-1px, -2px) rotate(-5deg) scale(0.9); }
            20% { transform: translate(-3px, 0px) rotate(5deg) scale(1); }
            30% { transform: translate(3px, 2px) rotate(0deg) scale(1.1); }
            40% { transform: translate(1px, -1px) rotate(5deg) scale(1.2); }
            50% { transform: translate(-1px, 2px) rotate(-5deg) scale(1.1); }
            60% { transform: translate(-3px, 1px) rotate(0deg) scale(1); }
            70% { transform: translate(3px, 1px) rotate(-5deg) scale(0.9); }
            80% { transform: translate(-1px, -1px) rotate(5deg) scale(0.8); }
            90% { transform: translate(1px, 2px) rotate(0deg) scale(0.9); }
            100% { transform: translate(1px, -2px) rotate(-5deg) scale(1); }
          }

       
          

            .poke-img-container {
                margin-top: 10px;
                border-radius: 50%;
                background-image: url(./Images/old-wall-1920x1080.png);

                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .poke-info-container {
                display: flex; 
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                font-size: 12px;
                margin-bottom: 10px;

                .poke-id-container {
                    border-radius: 70%;
                    background-color: rgba(0, 0, 0, 0.1);
                    padding: 0px 12px;
                }

                

               

            
        } 
     }
      
      
      
}

}