@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

$principal-font: 'Pokemon Solid', sans-serif;
$secondary-font: 'Lato', sans-serif;


body {
    background-image: url(./Images/batthern-1920x1080.png);

    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        .poke-logo {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            width: 500px;
            padding-bottom: 50px;

        }
    }
    .poke-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .poke-card {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            font-family: $secondary-font;
            background: #efefbb;
            background: linear-gradient(to right, #FDDFDF, #DEFDE0, #FCF7DE, #DEF3FD);
            padding: 5px 20px 5px 20px;
            margin: 10px 10px 10px 10px;
            border: 2px solid;
            border-radius: 10%;
        
        }
      }
      
      
      
}


