@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");
body {
  background-image: url(./Images/old-wall-1920x1080.png);
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .poke-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  padding-bottom: 50px;
}

body .search-box-container {
  text-align: center;
}

body .search-box-container #input-search {
  padding: 20px 10px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 3px solid #fffefe;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

body .search-box-container ::-webkit-input-placeholder {
  color: white;
}

body .search-box-container :-ms-input-placeholder {
  color: white;
}

body .search-box-container ::-ms-input-placeholder {
  color: white;
}

body .search-box-container ::placeholder {
  color: white;
}

body .poke-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  cursor: pointer;
}

body .poke-buttons span {
  border: 1px solid white;
  padding: 8px 8px 8px 8px;
  border-radius: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
}

body .poke-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .poke-container .poke-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Lato", sans-serif;
  background: #efefbb;
  background: -webkit-gradient(linear, left top, right top, from(#FDDFDF), color-stop(#DEFDE0), color-stop(#FCF7DE), to(#DEF3FD));
  background: linear-gradient(to right, #FDDFDF, #DEFDE0, #FCF7DE, #DEF3FD);
  padding: 3px 30px 3px 30px;
  margin: 10px 10px 10px 10px;
  border: 5px solid #b9afaf;
  border-radius: 10%;
}

body .poke-container .poke-card .poke-img-container {
  margin-top: 10px;
  border-radius: 50%;
  background-image: url(./Images/old-wall-1920x1080.png);
}

body .poke-container .poke-card .poke-img-container img {
  width: 120px;
  height: 120px;
}

body .poke-container .poke-card .poke-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 12px;
  margin-bottom: 10px;
}

body .poke-container .poke-card .poke-info-container .poke-id-container {
  border-radius: 70%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0px 12px;
}
/*# sourceMappingURL=styles.css.map */