@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

$principal-font: 'Lato', sans-serif;


body {
    background-image: url(./Images/old-wall-1920x1080.png);

    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        .poke-logo {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            width: 500px;
            padding-bottom: 50px;

        }
    }

    .search-box-container {
        text-align: center;
        

        #input-search {
            padding: 20px 10px;
            font-size: 24px;
            font-weight: bold;
            border: none;
            background: transparent;
            outline: none;
            border-bottom: 3px solid rgb(255, 254, 254);
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
            ::placeholder {
                color: white;
            
        }
    }

   

    .poke-buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        font-family: $principal-font;
        font-weight: lighter;
        cursor: pointer;
         span {
            border: 1px solid white;
            padding: 8px 8px 8px 8px;
            border-radius: 20%;
            margin-top: 40px;
            margin-bottom: 40px;
         }

    }
    .poke-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .poke-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-family: $principal-font;
        background: #efefbb;
        background: linear-gradient(to right, #FDDFDF, #DEFDE0, #FCF7DE, #DEF3FD);
        padding: 3px 30px 3px 30px;
        margin: 10px 10px 10px 10px;
        border: 5px solid rgb(185, 175, 175);
        border-radius: 10%;

       
          

            .poke-img-container {
                margin-top: 10px;
                border-radius: 50%;
                background-image: url(./Images/old-wall-1920x1080.png);

                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .poke-info-container {
                display: flex; 
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                font-size: 12px;
                margin-bottom: 10px;

                .poke-id-container {
                    border-radius: 70%;
                    background-color: rgba(0, 0, 0, 0.1);
                    padding: 0px 12px;
                }

                

               

            
        } 
     }
      
      
      
}

}